/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 270px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav.menutrai1 {
    padding-top: 0px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.menutrai a, .menutrai button {
    border-top: 1px solid white;
    padding: 15px 10px 15px 10px;
    color: white;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #070707;
  background: #8f8b8b;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #8f8b8b;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
.thumbnail{
    background-color: #55a4e8
}
.btn-primary{
    float:right;
    width: 150px;
    margin-right: 5px;
}
.btn-success{
    float:right;
    width: 150px;
    width: 150px;
}

button.btn.btn-success.nutnek {
    width: 53px;
    /* margin: 5px; */
}
.form-control{
    width:30%;
    margin-top:5px;
    width: 70%;
}
.btn-group-lg>.btn, .btn-lg{
    float:right;
    width: 61px;
}
.modal-dialog.modal-sm.themphong{
    width:500px
}
.form-control{
    width:70%;
}
.modal-footer .btn+.btn {
    float:left;
    width: 25%;
}
.btn-group-lg>.btn, .btn-lg{
    width:60px;
}

button.btn.btn-info.btn-lg.nutthemnek {
    width: auto;
    /* margin-right: 50px; */
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
    color: black;
}
.viendo{
    color: red;
    border-color: red;
}
.vienxanh{
    border-color: blue;
    color: black;
}
