/* Fixed sidenav, full height */


*{ padding: 0px;
  margin: 0px;
   
}

table.table.table-bordered.table-responsive.dlthietbi {
    color: black;
}

table.table.table-bordered.table-responsive.dlthietbi th {
    text-align: center;
}
.sidenav {
  height: 100%;
  width: 270px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #086cc2;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav.menutrai1 {
    padding-top: 0px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.menutrai a, .menutrai button {
    border-top: 1px solid white;
    padding: 15px 10px 15px 10px;
    color: white;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #070707;
  background: #8f8b8b;
  text-align: center;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #8f8b8b;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
.thumbnail{
    background-color: #55a4e8
}
.btn-primary{
    float:right;
    width: 150px;
    margin-right: 5px;
}
.btn-success{
    float:right;
    width: 150px;
    width: 150px;
}

button.btn.btn-success.nutnek {
    width: 53px;
    /* margin: 5px; */
}
.form-control{
    width:30%;
    margin-top:5px;
    width: 70%;
}
.btn-group-lg>.btn, .btn-lg{
    float:right;
    width: 61px;
}
.modal-dialog.modal-sm.themphong{
    width:500px
}
.form-control{
    width: 100%;
}
.modal-footer .btn+.btn {
    float:left;
    width: 25%;
}
.btn-group-lg>.btn, .btn-lg{
    width: 65px;
    text-align: center;
    float: left;
}

button.btn.btn-info.btn-lg.themtb {
    float: none;
    width: 150px;
}

button.btn.btn-info.btn-lg.nutthemnek,input.btn.btn-success.nutthemnek.btn-lg {
    width: auto;
    /* margin-right: 50px; */
    float: right;
    margin-right: 10px;
    /* padding-right: 72px; */
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
    color: black;
}
.viendo{
    color: red;
    border-color: red;
}
.vienxanh{
    border-color: blue;
    color: black;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
  
height: 250px;
  
width: 98.5%;
  
margin-bottom: 10px;
  
margin-left: 14px;
}
.list-group-item:first-child{
  text-align:center;
}
.sidenav a:hover, .dropdown-btn:hover{
  text-align:center;
}
.btn-group-lg>.btn, .btn-lg{
  width:65px;
  height:40px;
  font-size:15px;
}
button.btn.btn-info.btn-lg.themtb{
  width:150px;
}
h2, .h2 {
    font-size: 35px;
    color: #210404;
    float: left;
}
.modal-content{
      width: 585px;
}